h1{
    color: blue;
    } 
  p{
      color: crimson;
      font-weight: 200;
      font-style: italic;
  }
  #second_paragraph{
      color: maroon;
  }
  .orange_paras{
      color: purple;
  }
  .green_paras{
      color: skyblue;
  }   